.input-container {
  margin-bottom: 1rem;
}

.input-label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 0.25rem;
}

.input-label.dark {
  color: #d1d5db; /* text-gray-300 */
}

.input-field {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--progress-bg);
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px var(--shadow-color);
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
  background-color: var(--background-color);
  color: var(--text-color);
}

.input-field:focus {
  border-color: var(--border-color);
  box-shadow: 0 0 0 2px var(--primary-dark);
}

.input-field.dark {
  background-color: #374151; /* bg-gray-700 */
  border-color: #4b5563; /* border-gray-600 */
  color: #ffffff; /* text-white */
}
