.welcome-page {
  padding: 20px;
  max-width: 400px;
  margin: auto;
  background: var(--bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  color: var(--text-color);
}

.description {
  margin-bottom: 12px;
  color: var(--text-color);
}

.platforms, .custom-url, .selected-platforms {
  margin-bottom: 20px;
}

.platform-button, .add-button, .get-started-button {
  display: inline-block;
  margin: 4px 0;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
}

.platform-button:hover, .add-button:hover, .get-started-button:hover {
  transform: scale(1.05);
}

.url-input {
  width: calc(100% - 100px);
  padding: 8px;
  margin-right: 8px;
  border: 1px solid var(--progress-bg);
  border-radius: 4px;
}

.get-started-button {
  width: 100%;
  background-color: var(--fg-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
}

.get-started-button:hover {
  background-color: #0056b3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} 