.welcome-page {
  padding: 20px;
  max-width: 100%;
  margin: auto;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
  }
}

.left-section, .right-section {
  flex: 1;
  padding: 20px;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  margin-bottom: 12px;
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
}

.platforms {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.platform-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  border: 1px solid var(--progress-bg);
  background-color: var(--bg-color);
  color: var(--text-color);
  width: calc(50% - 10px);
}

.platform-button.selected {
  background-color: var(--fg-color);
  color: var(--bg-color);
}

.platform-button:hover {
  transform: scale(1.05);
}

.platform-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.url-input {
  flex: 1;
  padding: 8px;
  border: 1px solid var(--progress-bg);
  border-radius: 4px;
}

.add-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.plus-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.2s;
}

.add-button:hover .plus-icon {
  transform: scale(1.1);
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 4px;
}

.selected-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.selected-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  color: var(--text-color);
  width: 100%;
  padding: 10px;
  border: 1px solid var(--progress-bg);
  border-radius: 4px;
}

.platform-name {
  flex-grow: 1;
  margin-right: 10px;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} 