@import "@fortawesome/fontawesome-free";

:root {
    --bg-color: #f0f0f0;
    --fg-color: #9C6CAE;
    --text-color: #333;
    --progress-bg: rgb(214, 211, 211);
    --progress-fg: #c093d1;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  body.dark {
    --bg-color: #2a2a2a;
    --fg-color: #9C6CAE;
    --text-color: #f0f0f0;
    --progress-bg: rgb(51, 50, 50);
    --progress-fg: #5c3c68;
  }
  
  body.dark { 
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  .theme-switch {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--fg-color);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .theme-switch:hover {
    transform: scale(1.1);
  }

  .theme-switch__icon {
    font-size: 20px;
    transition: transform 0.3s;
  }

  .theme-switch:active .theme-switch__icon {
    transform: rotate(360deg);
  }